body{
	background: #8B0000 ;
	margin: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 110%;
}

.register_section{
	margin:0 auto;
	max-width: 700px;	
}

.register_form{
	border:.5px solid #fff;
	  background:#EBECE4;
	  border-radius:0px;
	  box-shadow:0px 0px 10px #000;
}

.register_form {
	  box-sizing:border-box;
	  padding-top:15px;
	  padding-bottom:10%;
	  margin:10% auto;
	  text-align:left;
}

.input_elements{
	padding-left:15%;
}

h1{
	font-family: 'Anton', sans-serif;
	text-align:center;
}

h3{
	font-family: 'Quicksand', sans-serif;
	text-align:center;
}

h4{
	font-family: 'Roboto Condensed', sans-serif;
}

em{
	font-family: 'Roboto Condensed', sans-serif;
}



.register_section input[type="text"], .register_section textarea{
  width: 80%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.register_form button{
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid slategrey;
  border-radius:5px;
  color: slategrey;
  text-transform:uppercase;
  cursor:pointer;
}

.register_form button:hover{
	height:30px;
  width:100px;
  background:#fff;
  border:1px solid #6495ED;
  border-radius:5px;
  color: #6495ED;
  text-transform:uppercase;
  cursor:pointer;
}
